.listItem{ 
    cursor: pointer;
}

.textSection{
    max-width: 80%;
}

.deleteIcon{
   position: absolute;
   right: 5px;
   top: calc(50%-15px);
   padding-top: 10px;
}
.deleteIcon:hover{
    color: #fcb606;
}