html,body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root{
  height: 100%;
  box-sizing: border-box;
}

.App {
  height: 100%; 
  box-sizing: border-box; 
  
}

/********login******/





/******login**********/
.card {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10% auto;
  width: 300px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.signin-btn{
  background: #ffc107;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

/***navigation*******/
.navigation{
  background-color: #424242;
  padding:  8px 0 !important; 
  margin: 0;
}

.nav-brand a{
  float: left; 
  font-weight: bold;
  font-size: 1.2rem;
  color: white !important;
  margin: auto !important;
}
.navigation .nav-pills{
  text-align: right !important;
  font-size: 1.2rem;
}
button.logout{
  background: #ffc107;
  border: 1px solid yellow;
  border-radius: 5px;
  color: white;
  padding: 8px ;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.link{
  text-decoration: none;
  padding: 8px 15px;
}
.list-non-bullet {
  list-style: none;
}



/*******quill editor********/

.quill {
  height: 100vh;
  box-sizing: border-box;
  width: calc(100% - 300px);
  float: right;
}

.ql-container {
  box-sizing: border-box;
  height: calc(100% - 42px);
  overflow-y: scroll;
}

.ql-editor {
  cursor: text;
}

.MuiListItem-root.Mui-selected {
  background-color: #e0f2f1 !important;
}

.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}
