body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/**********sidebar***********/
.sidebarContainer{
  margin: 0px;
  width: 300px;
  height: 100vh;
  box-sizing: border-box;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
}

.newNoteBtn{
  width: 100%;
  background: #029494 !important;
  border:none ;
  border-radius: 0px !important;
}
.newNoteBtn:hover{
  background: #c1f3ee !important;
}

.newNoteBtn span{
  color: white;
  font-weight: bolder;
}
.newNoteBtn span:hover{
  color: black;
}

.note-input{
  width: 100%;
  /* margin: 0px; */
  margin: 10px 0px;
  height: 35px;
  outline: none;
  border: none;
  padding-left: 5px;
}
.note-input:focus{border-bottom: 2px solid #029494;}

.newNoteSubmitBtn{
  width: 100%;    
  background-color: #FBBF24 !important;
  border:none ;
  border-radius: 0px !important;
}
.newNoteSubmitBtn:hover{
  background-color: #fde09a !important;
}

.newNoteSubmitBtn span{
  color: white;
  font-weight: bold;
}
.newNoteSubmitBtn span:hover{
  color: black !important;
}


/**********sidebarItem**********/
.listItem{ 
  cursor: pointer;
}

.textSection{
  max-width: 80%;
}

.deleteIcon{
 position: absolute;
 right: 5px;
 top: calc(50%-15px);
 padding-top: 10px;
 height:30px !important;
 
}
.deleteIcon:hover{
  color: #fcb606;
}

